.form-main-buy {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    overflow: hidden;


}

.heading_div_buy {
    width: 100%;
    display: flex;
    justify-content: center;
}

.heading {
    color: #000;
    font-size: 24px;
    font-weight: bold;

}

.form_div {
    width: 100%;
    padding: 10px;

}

.form_buy {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    /* margin: 10px; */
    padding: 30px;
    border-radius: 10px;

}

.btn_div_buy {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.switchBtn_div_buy {
    display: flex;
    justify-content: end;
}

.switchBtn_div_buy .switchBtn_buy {
    background-color: #1976d2;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;

    outline: none;
    border: none;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;

}

.submit_btn_div_buy {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.submit_btn_buy {
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #1976d2;
    font-size: 16px;
    font-weight: 600;
    width: 150px;
}








@media screen and (max-width: 600px) {
    .form-main-buy {
        width: 100%;
    }

    .form_buy {
        width: 100%;

    }



    .btn {
        width: 60%;
    }
}

@media screen and (max-width: 440px) {
    .form_buy {
        width: 95%;
        margin: 0;
    }





    .btn {
        width: 60%;
    }

    .switchBtn_div {
        width: 70%;
    }
}

@media screen and (max-width: 360px) {
    .form_buy {
        width: 78%;
    }

    .btn_div_buy {
        width: 100%;
        justify-content: start;
    }

    .switchBtn_buy {
        width: 150px;
    }

    .submit_btn_div_buy {

        justify-content: start;
        width: 56%;
    }

    .submit_btn_buy {

        width: 150px;
    }

    .switchBtn_div_buy .switchBtn_buy {

        width: 150px;
        height: 40px;

    }

    .heading {
        margin-left: -90px;

    }
}