.blogsMian {
    background-color: #F8F8FF;
    margin-top: 50px;

}

.blogsCards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 30px;
}

.blogs_h1_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.blogs_h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #000;
}

.CardsBlogs {
    width: 30%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.readMoreBtn {
    background-color: blue;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);


}
.btnText{
    color: #fff;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

/* ------------------------- MEDIA QUERIES ------------------------- */
@media (max-width: 1180px) {
    .blogsCards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .CardsBlogs {
        margin: 5px;
        width: 50%;
    }

}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .CardsBlogs {
        margin: 5px;
        width: 100%;
    }
}

@media (max-width: 575px) {
    .CardsBlogs {
        margin: 5px;
        width: 100%;
    }
}

@media (max-width: 440px) {}

/* Below 360px */
@media (max-width: 360px) {}