.ex_charges_crud_main {
    
    width: 100%;
    margin-top: 80px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    overflow-x: auto;
}
.ex_charges_search_div {
    display: flex;
    align-items: center;
    margin: 10px;
}
.ex_charges_search_icon {    
    background-color: #1976d2;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;   
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 10px;
    display: flex;
    align-items: center;
}

.searchInput{
    width: 40%;
}
.ex_charges_search_icon span{
    color: #fff;
    font-size: 18px;
}


.ex_charges_table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    background-color: #908b8b;
    border-radius: 8px;
    overflow: hidden;
    table-layout: fixed;
    word-wrap: break-word;
}

.ex_charges_t_head {
    color: #fff;
    text-transform: uppercase;
}

.ex_charges_t_head_row {
    width: 100%;
    top: 0;
    position: sticky;
    background-color: #1976d2;
    z-index: 1;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.ex_charges_t_head_row th {
    padding: 13px;
    text-align: center;
    border: 1px solid #ebebeb;

}

.ex_charges_t_body tr {
    border-bottom: 1px solid #ddd;
}

.ex_charges_t_body_row:nth-child(even) {
    background-color: #f2f2f2;
}

.ex_charges_t_body_row:nth-child(odd) {
    background-color: #ffffff;
}

.ex_charges_t_body_row:hover {
    background-color: #e6ffe6;
    cursor: pointer;
}

.ex_charges_t_body_row td {
    color: #333;
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
    border: 1px solid #ebebeb;

}
.ex_charges_top_btn{
    /* background-color: #908b8b; */
    display: flex;
}

.ex_charges_editebtn {
    background-color: #1976d2;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.ex_charges_top_btn_buy {
    background-color: #1976d2;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 10px;
    display: flex;
    align-items: center;
}

.ex_charges_editebtn:hover,
.ex_charges_top_btn_buy:hover {
    background-color: #145ca6;
}

@media (max-width: 1024px) {
    .ex_charges_table {
        font-size: 14px;
    }

    .ex_charges_t_head_row th,
    .ex_charges_t_body_row td {
        padding: 10px 12px;
    }

    .ex_charges_top_btn {
        width: 20%;
    }
}
@media (max-width: 991px) {
   

    .ex_charges_top_btn {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .ex_charges_crud_main {
        padding: 15px;
    }

    .ex_charges_table {
        font-size: 14px;
    }

    .ex_charges_t_head_row th,
    .ex_charges_t_body_row td {
        padding: 8px 10px;

    }

    .ex_charges_top_btn {
        width: 100%;
        justify-content: center;
        gap: 10px;
    }

    .ex_charges_top_btn_buy {
        width: auto;
        padding: 10px 12px;
        font-size: 14px;
    }
    .searchInput{
        width: 80%;
    }
}

@media (max-width: 480px) {
    .ex_charges_crud_main {
        width: 100%;
    }

    .ex_charges_top_btn {
        align-items: center;
    }

    .ex_charges_top_btn_buy {
        width: 100%;
        text-align: center;
        padding: 12px;
        font-size: 14px;
    }

    .ex_charges_table {
        font-size: 12px;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .ex_charges_t_head_row th {
        font-size: 12px;
    }

    .ex_charges_t_body_row {
        font-size: 10px;
    }

    .ex_charges_t_head_row th,
    .ex_charges_t_body_row td {
        padding: 8px 24px;
    }
    .ex_charges_search_icon{
        padding: 5px 10px;
    }
}
