.container {
    /* position: relative; */
    width: 100%;
    height: 541px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    background-image: url('../../assets/cover6.jpg');
    background-size: cover; 
    color: #000;
}

.textside {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 80%;
    padding: 50px;
  


}

.h1 {
    font-size: 64px;
}

.h4 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 20px;
}

.textside .btn {
    margin-top: 20px;
    width: 90%;
}

.container .imgDiv {
    width: 50%;
    display: flex;
    justify-content: center;

   

}

.imgDiv .img {
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;

   
}

/* ------------------------- MEDIA QUERIES ------------------------- */
/* 1180px to 992px */
@media (max-width: 1180px) {}

/* 991px to 768px */
@media (max-width: 991px) {
   

    .h1 {
        font-size: 40px;
    }

    .img {
        width: 80%;
    }
}

/* 767px to 576px */
@media (max-width: 767px) {
    

    .textside {
        padding: 35px;
    }

    .img {
        width: 80%;
    }
}

/* 575px to 360px */
@media (max-width: 575px) {
    .textside {
        width: 100%;
        padding: 30px;
        margin-top: 10px;
    }

    .h1 {
        font-size: 52px;
    }

    .h4 {
        font-size: 22px;
    }

    .btn {
        font-size: 14px;
    }

    .img {
        width: 95%;
    }

    .imgDiv {
        margin-top: -110px;
        width: 100%;
    }
    .container{
        flex-direction: column;
        height: 485px;
    }
    .container .imgDiv{
        width: 100%;
    }
  


}

@media (max-width: 440px) {
    .container {
        flex-direction: column;
        height: 320px;

    }

    .h1 {
        font-size: 32px;
    }
    .h4{
        font-size: 20px;
    }

    .imgDiv .img {
        width: 90%;
        padding: 10px;
        box-shadow: none;
    }
   


}

/* Below 360px */
@media (max-width: 360px) {
    .container {
        flex-direction: column;
    }

    .h1 {
        font-size: 32px;
    }

    .imgDiv {
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .img {
        width: 100%;
        padding: 5px;
}




}
