.Larg_card_4_ct {
    width: 98%;
    height: 410px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 13px;
    padding: 20px;
    border: 1px solid #e8f8ff;
}

.Larg_card_4_ct_data {
    padding: 20px;
    background-color: #fff;
    width: 100%;
    text-align: center;

}
@media  (max-width: 440px) {
    .Larg_card_4_ct{
        width: 100%;
    }

  
}
@media  (max-width: 360px) {
  
 
}
.roi-legend-scroll {
  max-height: 180px;
  overflow-y: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.roi-legend-item {
  display: flex;
  align-items: center;
}

.roi-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}

.roi-text {
  font-size: 14px;
}
