.dashboard_main {
    padding: 10px;
    margin-top: 60px;
    border-radius: 20px;



}

.top_bar {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    flex-wrap: wrap;
    padding: 10px;
}

.avatar {
    width: 42px;
}

.search_bar {
    width: 30%;
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 11.6px 12px 11.6px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: rgb(244, 247, 254);
    border-width: 1px;
    border-style: solid;


}

.input {
    outline: none;
    border: none;
    padding: 5px;
    width: 80%;
}

/* -------------------------------------------------------- */
.main_card_view {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    background-color: #fff;
    width: 30%;
    height: 110px;
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);


}
.card:hover{
    background-color: rgb(211, 211, 211);
    cursor: pointer;
    border: 2px solid #d9d9d9;

}

/* --------------------------Smal cards----------------------------------- */
.card_1_data {
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

.card_icon {
    background-color: #f4f7fe;
    
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;


}

.price {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left: 5px;
}

.price .h_1 {
    font-size: 20px;
    font-weight: 500;
}
.price .h_6{
    font-size: 15px;
}
.card_3{
      display: flex;
    align-items: center;
}

.card_data_3 {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.sale_text1 {
    font-size: 14px;

}

.card_data_3  .sale_text2 {
    font-size: 20px;
    font-weight: 500;



}
.card_4_text .sale_text2 {
    font-size: 20px;
    font-weight: 500;



}

.sale_text3 {
    font-size: 14px;
    color: rgb(255, 6, 6);
}

/* ----------------------------------------------------------- */
.card_4_data {
    display: flex;
    align-items: center;
    }

.flag {
    width: 55px;
    height: 55px;
    border-radius: 25px;
}

.card_4_text {
    display: flex;
    align-items: start;
    flex-direction: column;
}

/* ---------------------------------------------------------------- */
.menu_item {
    display: flex;
    align-items: center;

}

.menu_icon {
    width: 40px;
    height: 40px;
    border-radius: 25px;

}

.menu_text {
    font-size: 16px;
    padding-left: 5px;

}

/* --------------------Larg cards---------------------- */
.larg_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* margin: 12px; */
    flex-wrap: wrap;
    width: 100%;


}

.larg_cards_data {
    width: 50%;
    margin-top: 10px;

}

/* -------------------------------------------------------- */
@media (max-width: 1180px) {
    .card{
        width: 47%;
    }

}
@media (max-width: 991px) {
    .larg_cards_data{
        width: 100%;
    }
    .card{
        width: 100%;
    }
    .search_bar{
        width: 50%;
    }
}
@media (max-width: 768px) {
    .search_bar {
        width: 70%;
    }

    .top_bar {
        display: flex;
        justify-content: center;
        /* margin-top: -55px; */
    }

    .larg_cards_data {
        width: 100%;
    }

    /* ----------------------smal cards----------------------------- */
    .card {
        width: 100%;

    }

    .larg_cards_data {
        width: 100%;
    }

}
@media (max-width: 575px) {
    .dashboard_main{
        width: 90%;
    }
}

@media (max-width: 440px) {
    .search_bar {
        width: 80%;
    }
     .dashboard_main{
        width: 100%;
    }

    /* ----------------------smal cards----------------------------- */

    .card {
        width: 100%;
    }

    .larg_cards_data {
        width: 100%;
    }
}
@media (max-width: 360px) {
    .main_card_view{
        margin: 10px;
    }
    .card{
        width: 100%;
    }
    .larg_cards{
        margin:8px;
}
}
