.Card_Container {
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin-top: 100px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-family: "Arial", sans-serif;



}

.card_main_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.edit_card_image {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.card_label {
  font-weight: 600;
  color: #444;
  margin-bottom: 8px;
  display: block;
}

.card_fileInput {
  display: none;
}

.card_previewBox {
 margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed gray;
}

.selected_card_Img {
  width: 325px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin-bottom: 10px;
}

.uploadBtn {
  padding: 10px 115px;
  background: var(--primary-blue);
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.uploadBtn:hover {
  background: #125aa0;
}

.saveBtn {
  padding: 10px 115px;
  background: var(--primary-blue);
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  margin-top: 10px;
}

.removeBtn {
  padding: 8px 16px;
  background: #f44336;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.removeBtn:hover {
  background: #d32f2f;
}

.cards_fields_div {
  width: 100%;
  display: flex;
gap: 16px;
  flex-direction: column;
  margin-top: 20px;
}

/* .card_sect_input {
  margin: 10px;
} */