.closed_container {
  width: 100%;
  max-width: 1200px;
  margin: 80px auto 20px auto;
  padding: 15px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  overflow-x: auto;
}

.closed_header {
  display: flex;
  align-items: center;
  background: #a399ff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.closed_chart_icon {
  font-size: 30px;
  color: #1d00d8;
}

.closed_title {
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
  color: #fff;
}

.closed_table_wrapper {
  overflow-x: auto;
}

.close_trde_pagination{
  padding: 0px;
}


/* -------------------------------
   Responsive Media Queries
--------------------------------*/

@media screen and (max-width: 992px) {
 
}

@media screen and (max-width: 768px) {
 
  .close_trde_pagination{
    padding: 0px;
  }
}

@media screen and (max-width: 440px) {
 
  .closed_tradlist{
    width: 41%;
  }
}

@media screen and (max-width: 360px) {
  .closed_tradlist{
    width: 34%;
  }
}
