.header_form {
width: 100%;
  margin: 80px auto;
  padding: 25px;
  border-radius: 12px;
  font-family: "Arial", sans-serif;

  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.header-title {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  font-size: 26px;
}

.editLogo {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.label {
  font-weight: 600;
  color: #444;
  margin-bottom: 8px;
  display: block;
}

.fileInput {
  display: none;
}

.previewBox {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed gray;
}

.selectedImg {
  width: 330px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin-bottom: 10px;
}

.header_uploadBtn {
  padding: 10px 50px;
  background: var(--primary-blue);
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.header_uploadBtn:hover {
  background: #125aa0;
}
.SaveBtn{
  padding: 10px 115px;
  background: var(--primary-blue);
  color: white;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}

.removeBtn {
  padding: 8px 16px;
  background: #f44336;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.removeBtn:hover {
  background: #d32f2f;
}
.save_btn_div{
  width: 100%;
  display: flex;
  justify-content: center;
}
