.summary_main {
    width: 98%;
    height: 410px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 13px;
    padding: 20px;
    border: 1px solid #e8f8ff;

}

.market-info {
    padding: 10px;
    background-color: #fff;
    width: 100%;
   

}
.heading_div{
    background-color: #1976d2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);


}
.summary_heading_dashboard{
    font-size: 32px;
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.market-row{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    border-bottom: 1px solid #e3e2e2;
}
.chartIcon{
    color: #fff;
  
}

@media (max-width: 1024px) {
    .summary_heading_dashboard{
        font-size: 26px;
    }
   
}

@media (max-width: 440px) {
    .summary_heading_dashboard{
        font-size: 22px;
    }
   
}

@media  (max-width: 360px) {
    .summary_heading_dashboard{
        font-size: 20px;
    }
    .summary_main{
        width: 96%;
    }
  
}