.faqs_container_main{
padding: 20px;
  background: #fff;
  border-radius: 10px;
  margin-top: 100px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  text-align: center;
  font-family: "Arial", sans-serif;
}
.faq_form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.submitBtn{
   background-color: var(--primary-blue);
  color: #fff;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  padding: 10px 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin-top: 30px;
}

