
.form_summary {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    width: 95%;

}
.summary_heading_2{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    
}

.summary_form_main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    flex-direction: row;
    background-color: #fff;
    margin: 10px; 
    padding: 30px; 
     border-radius: 10px;
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

 } 
 





.btn {
    background-color: #1976d2;
    width: 20%;
    padding: 5px;
    text-align: center;
    color: #f5f5f5;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.btn:hover {
    background-color: rgb(54, 54, 249);
    border-color: rgb(54, 54, 249);
    cursor: pointer;
}

.btn-style {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    width: 90%;

}
.summary-index{
    width: 100%;
    padding: 10px;

}
.summary_heading_div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.submit_btn_div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.importBTN {
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1976d2;
    color: #fff;


}
.summary_from_import_div{
    width: 100%;
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 600px) {
    .form_summary{
        width: 100%;
    }
    .summary_form_main {
        width: 85%;

    }

   

    .btn {
        width: 60%;
    }
    .summary_from_import_div{
        justify-content: center;
    }
}

@media screen and (max-width: 430px) {
    .summary_form_main {
        width: 80%;
        margin: 0;
    }

   

   

    .btn {
        width: 60%;
    }
    .switchBtn_div{
        width: 70%;
    }
      .summary_heading_2{
       margin-left: -46px;
        
    }
}

@media screen and (max-width: 360px) {
    .summary_form_main {
        width: 80%;
    }
    .btn {
        width: 60%;
    }
    .switchBtn_div{
        width: 60%;
    }
    .summary_heading_2{
       margin-left: -80px;
        
    }
}