.footer_bg {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    background-color: #00002e;
    padding: 20px;
}


.f_main {
    background-color: #f8f8ff;

}

.footer_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-top: 30px; */
    width: 30%;
    height: 40vh;
    /* background-color: aqua; */
}

.footer_logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 2px solid #fff;
    margin: 15px;
}

.footer_logo .logo {
    width: 100%;

}

.copy {
    text-align: center;
    font-size: 14px;
    padding: 20px;
    color: #d0d0d0;
    margin: 15px;

}

.footer_icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 50%;
}

.f_shap_one {
    width: 40px;
    height: 40px;
    background-color: #a59cff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);

}

.f_shap_two {
    width: 30px;
    height: 30px;
    background-color: #7061fc;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f_shap_three {
    width: 25px;
    height: 25px;
    background-color: #351ffe;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_icons .footer_social_icon {
    color: #fff;
    transform: rotate(-45deg);
    font-size: 24px;

}

.privacyPolicy,
.quikLinks {
    padding: 20px;
    width: 20%;
    height: 40vh;

}

.quikLinks h3,
.privacyPolicy h3 {
    color: #fff;
    font-size: 24px;
    padding: 5px;

}

.gradient-line {
    background: linear-gradient(to right, #3c59fb, #d6e9fc);
    width: 5rem;
    height: 0.25rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.quikLinks ul li,
.privacyPolicy ul li {
    color: #d0d0d0;
    font-size: 16px;
    list-style: none;
    padding: 2px;

}

.quikLinks ul li:hover,
.privacyPolicy ul li:hover {
    color: #a59cff;
    font-weight: 400;

}

.icon {
    display: flex;
    align-items: center;
}

/* ------------------------- MEDIA QUERIES ------------------------- */
/* 1180px to 992px */
@media (max-width: 1180px) {
    .footer_icons {
        width: 65%;
    }
}

@media (max-width: 1024px) {
    .footer_icons {
        width: 75%;
    }

    .privacyPolicy,
    .quikLinks {
        width: 25%;


    }
}

/* 991px to 768px */
@media (max-width: 991px) {
    .footer_icons {
        width: 85%;
    }

}

/* 767px to 576px */
@media (max-width: 767px) {
    .footer_icons {
        width: 50%;
    }

    .footer_bg {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .footer_main {
        width: 100%;
    }

    .privacyPolicy,
    .quikLinks {
        width: 100%;
height: auto;

    }

}

/* 575px to 360px */
@media (max-width: 575px) {
    .footer_icons {
        width: 60%;
    }

    .footer_bg {
        border-top-right-radius: 100px;
    }
}

@media (max-width: 440px) {
    .footer_bg {
        height: auto;
    }

    .footer_main {
        height: auto;
    }

    .footer_logo .logo {
        width: 50%;

    }

    .copy {
        font-size: 14px;
    }

    .f_shap_one {
        width: 35px;
        height: 35px;
        border-radius: 5px;
        /* background-color: #351ffe; */


    }

    .f_shap_two {
        width: 25px;
        height: 25px;
        border-radius: 2px;
        background-color: #6959f8;


    }

    .f_shap_three {
        width: 20px;
        height: 20px;
        border-radius: 2px;
        /* background-color: #351ffe; */


    }

    .footer_icons {
        width: 50%;
    }
    .footer_icons
    .footer_social_icon{
        font-size: 20px;
    }

    .footer_bg {
        border-top-right-radius: 100px;
    }



}

