.L_card_4 {
    width: 98%;
    height: 410px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 13px;
    padding: 20px;
    border: 1px solid #e8f8ff;
}

.L_card_4_data {
    padding: 20px;
    background-color: #fff;
    width: 100%;
    text-align: center;

}
@media (max-width: 360px) {
    .L_card_4{
        width: 96%;
    }
    
}