.registration_main{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    margin-top: 50px;
}
.register_main_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 85%;
    height: 570px;

    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 70px;

}
.image_div_register{
    width: 50%;
    height: 570px;

}
.register_image{
    width: 100%;
    height: 570px;
    border-bottom-left-radius: 70px;
    border-top-left-radius: 70px
}
.register_form{
    width: 50%;
    padding: 20px;
}

.register_form .form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    box-shadow: none;
}
.form .h6{
    font-size: 32px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
    background-color: transparent;

}
.form .r_input{
    width: 100%;
    margin: 10px;
}
.form .r_btn{
    width: 30%;
}
.arrowBack{
    width: 100%;
    display: flex;
    cursor: pointer;

}
/* ------------------------- MEDIA QUERIES ------------------------- */
/* 1180px to 992px */
@media (max-width: 1180px) {

}

/* 991px to 768px */
@media (max-width: 991px) {
    .form .h6{
        font-size: 26px;
      
    
    }
   
}

/* 767px to 576px */
@media (max-width: 767px) {
    .register_main_main{
        width: 100%;
        margin: 5px;
    }
  .form{
    padding: 10px;
  }
  .form .h6{
    margin-bottom: 20px;
  }
}

/* 575px to 360px */
@media (max-width: 575px) {
    .register_main_main{
        flex-direction: column;
        height: auto;

    }
    .image_div_register{
        width: 100%;
        height: 270px;

    }
    .register_image{
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        height: 270px;
        border-top-right-radius: 70px;
        border-top-left-radius: 70px;
        margin-top: 40px;

    }
    .register_form{
        width: 100%;
        padding-left: 20px;
        padding-right: 40px;
    }
    .form .r_input{
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }
    .form .r_btn{
        width: 50%;
        margin: 10px;
    }
    .form .h6{
        font-size: 22px;
     
    
    }
  
}

@media (max-width: 440px) {
    .register_main_main{
        height: 800px;
        padding-bottom: 20px;
        margin: 100px;
    }
    .form .h6{
        font-size: 16px;
     
    
    }
    .R_main{
        height: auto;
    }
    .image_div_register{
        height: 250px;

    }
    .register_image{
       
        height: 250px;
       

    }
    .registration_main{
        margin-bottom: 50px;
    }
  
}

/* Below 360px */
@media (max-width: 360px) {
   
    .form .h6{
        font-size: 16px;
     
    
    }
}